.uploaderContainer {
    display: flex;
  }
  
.fileUploader {
    background-color: #684eff;
    color: white;
    padding: 15px 34px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #2600ff;
    transition: 0.2s;
}

.fileUploader:hover {
    background-color: #7a0c8a;  
    border: 2px solid #7a0c8a;
}
  
.hiddenInput {
    display: none;
}