.classic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #684eff;
    color: white;
    padding: 15px 34px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
    border: 2px solid #2600ff;
    font-size: 20px;
    font-size: 20px;
}

.classic:hover {
    background-color: #7a0c8a;  
    border: 2px solid #7a0c8a;
}

.classic2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff3e3e;
    color: white;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
    border: 2px solid #fd0000;
    font-size: 20px;
}

.classic2:hover {
    background-color: #b30052;
    border: 2px solid #b30052;
}

.outline {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
    font-size: 20px;
}

.outline:hover {
    background-color: #fff;
    color: #000;
}

.animated:hover {
    letter-spacing: 0.4px; 
}